[Unit]
Description=Foundries IO Update Client
After=network.target boot-complete.target
Requires=boot-complete.target

[Service]
User=root
ExecStart=/usr/bin/fioup daemon
RuntimeDirectory=secrets
