#!/usr/bin/make -f

%:
	dh $@ --buildsystem=makefile

override_dh_auto_clean:
	make clean

override_dh_auto_build:
	CGO_ENABLED=0 make all

# golang already compresses this DWARF section, so skip this
override_dh_dwz:
